.example-spacer{
    flex: 1 1 auto;
}

mat-icon{
    color: rgb(7, 125, 25);
}


mat-drawer{
    background-color:white;
}

.active{
    background-color: rgb(162, 227, 127);
}

.logo-container{
 padding: 10px;   
}
.logo{
    width: 65px;
    height: 50px;
}