<mat-toolbar  class="mat-elevation-z6">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>K-Mart</span>
  <span class="example-spacer"></span>
  <div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
    <button class="kmart-button-1" routerLink="track-order">Track Order</button>
    <button class="kmart-button-1" routerLink="signup">Sign Up</button>
    <button class="kmart-button-1" routerLink="login">Login</button>
  </div>

  <div *ngIf="isCustomerLoggedIn">
    <button mat-icon-button routerLink="/customer/cart">
      <mat-icon matBadge="0" matBadgeColor="warn" matBadgeSize="medium">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="false" mode="push">
    <mat-nav-list>
    
        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/dashboard" routerLinkActive="active">
          <button mat-button><mat-icon>dashboard</mat-icon>DashBoard</button>
        </mat-list-item>
        
        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/create-category" routerLinkActive="active">
          <button mat-button><mat-icon>category</mat-icon>Post Category</button>
        </mat-list-item>
        
        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/create-product" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Post Product</button>
        </mat-list-item>
        
        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/create-coupon" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Post Coupon</button>
        </mat-list-item>
  
      
  
  
        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/orders" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Orders</button>
        </mat-list-item>
  
  
        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/coupons" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Coupons</button>
        </mat-list-item>

        <mat-list-item *ngIf="isAdminLoggedIn" routerLink="/admin/analytics" routerLinkActive="active">
          <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
        </mat-list-item>

        <mat-list-item  *ngIf="isCustomerLoggedIn" routerLink="/customer/dashboard" routerLinkActive="active">
          <button mat-button><mat-icon>dashboard</mat-icon>DashBoard</button>
        </mat-list-item>
  
        <mat-list-item *ngIf="isCustomerLoggedIn" routerLink="/customer/my-orders" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>My Orders</button>
        </mat-list-item>
  
        <mat-list-item *ngIf="isCustomerLoggedIn" routerLink="/customer/wishlist" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Wishlist</button>
        </mat-list-item>
  
        <mat-list-item *ngIf="isCustomerLoggedIn"  routerLink="/customer/profile" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Profile</button>
        </mat-list-item>

        <mat-list-item  routerLink="" routerLinkActive="active">
          <button mat-button><mat-icon>shopping_cart</mat-icon>About</button>
        </mat-list-item>

        <mat-list-item *ngIf="isAdminLoggedIn || isCustomerLoggedIn">
          <button mat-button (click)="logOut()"><mat-icon>exit_to_app</mat-icon>Logout</button>
        </mat-list-item>
    
    </mat-nav-list >

 

  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 575px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
