<div class="spinner-container" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>




<div class="container" [ngClass]="isLoading ? 'blur' : ''">

<form [formGroup]="searchForm" class="search-form" (submit)="searchProducts()">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input matInput formControlName="search" (input)="searchProducts()" />
    <button mat-button matSuffix color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="products-container">
  <mat-card *ngFor="let product of products">
    <mat-card-content>
      <div class="product-card">
        <div
          class="product-image"
          routerLink="/customer/product-details/{{ product.id }}"
        >
          <img [src]="product.processedImage" alt="product image" />
        </div>
        <div class="product-info">
          <div class="details">
            <div class="product-name">{{ product.name }}</div>
            <div class="product-price">{{ product.price | currency }}</div>
            <div class="product-description">
              {{ product.description }}
            </div>
            <div class="product-category">
              <strong>Category : </strong> {{ product.categoryName }}
            </div>
          </div>
          <button class="kmart-button-1" (click)="addToCart(product.id)">
            Add to cart
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

</div>