<div class="ordered-product-container">
  <mat-card class="order-product" *ngFor="let product of orderedProducts">
    <div class="product-info">
      <div class="details">
        <div class="product-image">
          <img [src]="product.processedImg" alt="product image" />
        </div>
        <div class="product-details">
          <div class="product-name">{{ product.name }}</div>
          <div class="product-price">{{ product.price | currency }}</div>
          <div class="product-description">
           <strong>Quantity : </strong> {{ product.quantity}}
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button
          class="kmart-button-1"
          routerLink="/customer/review/{{ product.id }}"
        >
          Review
        </button>
      </div>
    </div>
  </mat-card>
  <div class="total-price">
    <div class="total-price-label">Total Price</div>
    <div class="total-price-value">
      {{ totalAmount | currency }}
    </div>
  </div>
</div>
