.cart-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;

}

.cart-item {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
}

.product-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-image {
  width: 10%;
}

img {
  height: 120px;
  width: 140px;
}

.product-details {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 20px;
}

.product-price {
  font-size: 15px;
  font-weight: bold;
  color: green;
  // margin-bottom: 3px;
  padding-left: 20px;


}

.quantity-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.coupon-container {
  width: 90%;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;

}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.total-section {
  width: 90%;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-top: 2px;
}

.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.value2 {
  font-size: 16px;
  font-weight: bold;
  color: green;
}


.value1 {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.value3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order-button {
  width: 90%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.empty-cart {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-icon{
  font-size: 30px;
}

.coupon-name{
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 10px;
}

.remove-icon{
  color: red;
}

