/* Basic styling for the cart container */
.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for each cart item */
.cart-item {
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}

/* Styling for product information within each cart item */
.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.product-details {
  flex-grow: 1;

  .item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-name {
    font-size: 18px;
    font-weight: bold;
  }

  .product-price {
    font-size: 16px;
    color: #333;
  }

  .quantity-controls {
    display: flex;
    align-items: center;

    button {
      background-color: #eee;
      border: none;
      padding: 8px;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .quantity {
      margin: 0 10px;
      font-size: 16px;
    }
  }
}

/* Styling for the coupon form container */
.coupon-container {
  margin-top: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-form-field {
      width: 100%;

      input {
        width: 100%;
      }
    }

    button {
      margin-top: 15px;
    }
  }
}

/* Styling for the total price section */
.total-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/* Styling for the place order button */
.order-button {
  margin-top: 20px;

  button {
    font-size: 18px;
  }
}

/* Styling for the empty cart template */
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;

  mat-icon {
    // font-size: 48px;
    color: #aaa;
  }

  span {
    font-size: 18px;
    margin-top: 10px;
  }
}
