<div class="spinner-container" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div class="container" [ngClass]="isLoading ? 'blur' : ''">
  <mat-card *ngFor="let product of products">
    <mat-card-content>
      <div class="product-card">
        <div
          class="product-image"
          routerLink="/customer/product-details/{{ product.productId }}"
        >
          <img [src]="product.processedImage" alt="product image" />
        </div>
        <div class="product-info">
          <div class="details">
            <div class="product-name">{{ product.productName }}</div>
            <div class="product-price">{{ product.price | currency }}</div>
            <div class="product-description">
              {{ product.productDescription }}
            </div>
          </div>

          <div>
            <button
              class="kmart-button-3"
              (click)="removeFromWishlist(product.productId)"
            >
              Remove
            </button>
            <button
              class="kmart-button-1"
              (click)="moveToCart(product.productId)"
            >
              Move to cart
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
