<div class="container" style="padding: 30px">
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="myOrders" class="mat-elevation-z8">
          <!-- trackingId ,userName, amount ,OrderDescription,address,date,status, -->
          <ng-container matColumnDef="trackingId">
            <mat-header-cell *matHeaderCellDef>Tracking Id</mat-header-cell>
            <mat-cell *matCellDef="let order">{{ order.trackingId}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let order">{{ order.amount | currency}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let order">{{ order.orderDescription}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let order">{{ order.address}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
            <mat-cell *matCellDef="let order">{{ order.date | date:'yyyy/MM/dd'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let order">{{ order.orderStatus}}</mat-cell>
          </ng-container>


            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let order">
                  <span *ngIf="order.orderStatus=='Delivered'">
                  <button mat-raised-button color="primary" type="submit" routerLink="/customer/order-details/{{order.id}}">View</button>
                </span>
                </mat-cell>
            </ng-container>

           <mat-header-row *matHeaderRowDef="[ 'trackingId','amount','description','address','date','status','action']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: [ 'trackingId','amount','description','address','date','status','action']"></mat-row>

        </table>
      </mat-card-content>
    </mat-card>
  </div>
  