<div class="spinner-container" *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div class="container" [ngClass]="isLoading ? 'blur' : ''">
  <mat-card>
    <mat-card-title>Review</mat-card-title>
    <mat-card-content>
      <form [formGroup]="reviewForm" class="review-form">
        <div class="product-details-container">
          <div class="fields-container">
            <mat-form-field appearance="outline">
              <mat-label>Rating</mat-label>
              <mat-select formControlName="rating" name="rating">
                <mat-option *ngFor="let rating of ratings" [value]="rating">
                  {{ rating }} Star's
                </mat-option>
              </mat-select>
              <mat-error *ngIf="reviewForm.get('rating').hasError('required')">
                Rating is required
              </mat-error>
            </mat-form-field>

            <!-- description -->
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                placeholder="Description"
                matInput
                formControlName="description"
                name="description"
                rows="5"
              ></textarea>
              <mat-error
                *ngIf="reviewForm.get('description').hasError('required')"
              >
                Description is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="file-upload-container">
            <label class="file-upload-label">
              <span>Select a File</span>
              <input
                type="file"
                class="file-upload-input"
                (change)="onFileSelected($event)"
                hidden
              />
              <mat-icon>attach_file</mat-icon>
            </label>

            <div *ngIf="selectedFile" class="image-preview">
              <div class="circle-image">
                <img
                  [src]="imagePreview"
                  alt="product image"
                  class="preview-image"
                />
              </div>
            </div>
          </div>
        </div>

        <button
          class="kmart-button-1"
          type="submit"
          [ngClass]="reviewForm.invalid ? 'kmart-button-disabled' : ''"
          (click)="submitForm()"
          [disabled]="reviewForm.invalid"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
